SECRET_KEY=

DATABASE_HOSTNAME=
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_USERNAME=

ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=

STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=

OPEN_AI_KEY=